<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{%- include head.html -%}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="{{ "/assets/announcement.css" | relative_url }}">

<body>
  <div class="container paper">

    <div class="row justify-content-center">
      <div class="col-12 text-left title-text">
        The Arsonists Union Proudly Presents
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-12">
        <img src="/assets/durngeons-n-dorgans-title.svg" alt="Durngeons 'n Dorgans">
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-12 text-center title-text">
        An Interactive Comedy Adventure
      </div>
    </div>

    <div class="row align-items-center justify-content-center top-bottom-padding">
      <div class="col-6">
        <a href="https://durngeonsndorgans.eventbrite.com">
          <img class="buy-tickets" src="/assets/buy-tickets.svg">
        </a>
      </div>
    </div>


    <div class="row justify-content-center">
      <div class="col-12">
        Enter an immersive realm of magic and intrigue! Answer the call and embrace your heroic destiny; become a brave fighter, holy cleric, or wise mage and help to guide the on-stage Adventurers through a dangerous and hilarious one-shot role-playing campaign. 
        <br> 
        <br>
        Aficionados and the absolute uninitiated alike will enjoy this evening of high fantasy hijinks and interactive comedy.
        <br> 
        <br>
        Costumes are encouraged but by no means required.
      </div>
    </div>

    <div class="row align-items-center justify-content-center">
      <div class="col-md-4 col-md-offset-2">
        <img src="/assets/cat-axe.svg" class="img-responsive" alt="Axe Cat">
      </div>
      <div class="col-md-6">
        <h3>What?</h3>
        It's a high-fantasy comedy show.
      </div>
    </div>

    <div class="row align-items-center justify-content-center">
      <div class="col-md-4 col-md-offset-2">
        <img src="/assets/books-image.svg" class="img-responsive" alt="Book">
      </div>
      <div class="col-md-6">
        <h3>When?</h3>
        7:30PM Fri. May 31st, Sat. June 1st, Fri. June 7th, and Sat. June 8th
      </div>
    </div>

    <div class="row align-items-center justify-content-center">
      <div class="col-md-4 col-md-offset-2">
        <img src="/assets/burd-warrior.svg" class="img-responsive" alt="Axe Cat">
      </div>
      <div class="col-md-6">
        <h3>Where?</h3>
        EXIT Theatre, 156 Eddy St, San Francisco, CA 94102
      </div>
    </div>

    <div class="row align-items-center justify-content-center top-bottom-padding">
      <div class="col-6">
        <a href="https://durngeonsndorgans.eventbrite.com">
          <img class="buy-tickets" src="/assets/buy-tickets.svg">
        </a>
      </div>
    </div>

    <div class="row align-items-center justify-content-center">
      <div class="col-md-2 col-md-offset-6">
        <img src="/assets/arsonists-union.svg">
      </div>
    </div>
  </body>

  </html>
